<div>
    <h1>Log In</h1>
</div>
<div>
    <form action="" method="post">
       Email: <input type="text" name="email">
        Password:<input type="password" name="password">
        <input type="submit" value="iniciar sesión">

    </form><br><br>
    <a href="/sessions/login-github"><button>GitHub</button></a>

</div>