<div>
    <h1>Log In</h1>
</div>
<div>
    <form action="/sessions/login" method="post">
       Email: <input type="text" name="user">
        Password:<input type="password" name="password">
        <input type="submit" value="iniciar sesión">

    </form>
</div>