<div>
    <h1>Formulario de registro</h1>
</div>
<div>
    <form action="/sessions/create" method="post">
    Name:<input type="text" name="name"><br>
    Last_name:<input type="text" name="lastName"><br>
    Age:<input type="number" name="age"><br>
    email:<input type="text" name="email"><br>
    Password:<input type="password" name="password"><br>

    <input type="submit" value="Registrar">
    

</form>
    
</div>